<!DOCTYPE html>
{% extends 'serials/base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сериалы</title>
    <link rel="stylesheet" href="{% static 'css/serial_det.css' %}">
</head>
<body>
<div class="adds" style="top: 100px;  position: sticky;">
    <strong><a href="{% url 'add' %}">Добавить сериал</a></strong>
</div>


<div class="container" style="grid-template-columns: repeat(auto-fill, 300px);">
    {% for serial in serials %}
        <div class="item">
            <img src="{{ serial.poster.url }}" class="img-fluid" alt="">
                <p>
                    <a href="{% url 'detail_serial' serial.id %}">{{ serial.title }}</a>
                </p>
        </div>
     {% endfor %}
</div>
</body>
{% endblock %}
</html>