<!DOCTYPE html>
{% extends 'serials/base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сериалы</title>
    <link rel="stylesheet" href="{% static 'css/serial_det.css' %}">
</head>
<body>
<div class="adds" style="top: 100px;  position: sticky;">
    <strong><a href="{% url 'add' %}">Добавить сериал</a></strong>
</div>

<div class="container" style="grid-template-columns: repeat(auto-fill,300px);margin: 100px 250px 0 150px;">
            {%for serial in serials %}
                    <div class="item">
                    {% if serial.poster %}
                        <img src="{{ serial.poster.url }}" class="img-fluid"
                        alt="">
                    {% endif %}
                     {% if serial.title %}
                            <p>
                                <a href="{% url 'detail_serial' serial.id %}">{{ serial.title }}</a>
                            </p>
                    {% endif %}
                    </div>
            {% endfor %}
{% endblock %}
</div>
</body>
</html>